<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content">

        <h2 class="mb-2">Додати розклад для класу</h2>

        <form class="ml-2">
            <div class="form-row">
                <div class="form-group mr-3">
                    <label class="form-label" for="validationDefault01">Клас</label><br>
                    <select id="validationDefault01" class="custom-select w-100">
                        <option value="1">11-А</option>
                        <option value="2">10-Б</option>
                        <option value="3">...</option>
                        <option value="4">9-В</option>
                    </select>

                </div>
                <div class="form-group mr-3">
                    <label class="form-label" for="validationDefault02">День тижня</label><br>
                    <select id="validationDefault02" class="custom-select w-100">
                        <option value="1">Понеділок</option>
                        <option value="2">Вівторок</option>
                        <option value="3">...</option>
                        <option value="4">П'ятниця</option>
                    </select>
                </div>
                <div class="form-group mr-3">
                    <label class="form-label" for="validationDefault03">Кількість предметів</label><br>
                    <select id="validationDefault03" class="custom-select w-100">
                        <option selected>3</option>
                        <option value="1">1</option>
                        <option value="2">....</option>
                        <option value="3">8</option>
                    </select>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-3">
                    <label class="form-label" for="validationDefault06">Предмет</label><br>
                    <select id="validationDefault06" class="custom-select w-100">
                        <option value="1">Українська мова</option>
                        <option value="2">....</option>
                        <option value="3">Фізика</option>
                        <option value="3">Алгебра</option>
                        <option value="3">Геометрія</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label" for="validationCustom02">№ Кімнати</label>
                    <input required
                           placeholder="№"
                           type="text"
                           id="validationCustom02"
                           class="form-control"
                           name="cabinet">
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label" for="validationDefault07">Вчитель</label><br>
                    <select id="validationDefault07" class="custom-select w-100">
                        <option value="1">Сторожук Сергій Борисович</option>
                        <option value="2">....</option>
                        <option value="3">Роєнко Миколай Васильович</option>
                        <option value="4">Шемелюк Тарас Васильович</option>
                    </select>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-3">
                    <label class="form-label" for="validationDefault8">Предмет</label><br>
                    <select id="validationDefault8" class="custom-select w-100">
                        <option value="1">Українська мова</option>
                        <option value="2">....</option>
                        <option value="3">Фізика</option>
                        <option value="3">Алгебра</option>
                        <option value="3">Геометрія</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label" for="validationCustom9">№ Кімнати</label>
                    <input required
                           placeholder="№"
                           type="text"
                           id="validationCustom9"
                           class="form-control"
                           name="cabinet">
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label" for="validationDefault18">Вчитель</label><br>
                    <select id="validationDefault18" class="custom-select w-100">
                        <option value="1">Сторожук Сергій Борисович</option>
                        <option value="2">....</option>
                        <option value="3">Роєнко Миколай Васильович</option>
                        <option value="4">Шемелюк Тарас Васильович</option>
                    </select>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-3">
                    <label class="form-label" for="validationDefault16">Предмет</label><br>
                    <select id="validationDefault16" class="custom-select w-100">
                        <option value="1">Українська мова</option>
                        <option value="2">....</option>
                        <option value="3">Фізика</option>
                        <option value="3">Алгебра</option>
                        <option value="3">Геометрія</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label" for="validationCustom12">№ Кімнати</label>
                    <input required
                           placeholder="№"
                           type="text"
                           id="validationCustom12"
                           class="form-control"
                           name="cabinet">
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label" for="validationDefault17">Вчитель</label><br>
                    <select id="validationDefault17" class="custom-select w-100">
                        <option value="1">Сторожук Сергій Борисович</option>
                        <option value="2">....</option>
                        <option value="3">Роєнко Миколай Васильович</option>
                        <option value="4">Шемелюк Тарас Васильович</option>
                    </select>
                </div>
            </div>



            <div class="form-group">
                <button type="submit" class="btn btn-primary">Додати день в розклад</button>
            </div>
        </form>

    </div>
    <div th:replace="~{admin/parts/footer :: content}"></div>
</div>

</body>
</html>