<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminpage.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>E-journal</title>

</head>

<body>
<div class="wrapper">

    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content text-dark"> <!--validation TODO-->
        <form novalidate
              th:action="@{/e-journal/admin/teachers/add}" th:object="${teacher}" th:method="post">
            <h2>Вчитель</h2>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom01">Прізвище</label>
                        <input required
                               type="text"
                               placeholder="Прізвище"
                               id="validationCustom01"
                               class="form-control"
                               name="lastName"
                               th:field="*{lastName}">
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom02">Ім'я</label>
                    <input required
                           placeholder="Ім'я"
                           type="text"
                           id="validationCustom02"
                           class="form-control"
                           name="firstName"
                           th:field="*{firstName}">
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom03">По батькові</label>
                    <input required
                           placeholder="По батькові"
                           type="text"
                           id="validationCustom03"
                           class="form-control"
                           value=""
                           th:field="*{secondName}">
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomTel">Телефон</label>
                    <input placeholder="Номер телефону"
                           aria-describedby="inputGroupPrepend"
                           required type="tel"
                           id="validationCustomTel"
                           class="form-control"
                           name="phone"
                           th:field="*{phone}">
                    <div class="invalid-feedback">Будь ласка напишіть номер телефону.</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomEmail">Електронна пошта</label>
                    <input required
                           placeholder="Електронна пошта"
                           type="email"
                           id="validationCustomEmail"
                           class="form-control"
                           name="email"
                           th:field="*{email}">
                    <div class="invalid-feedback">Будь ласка напишіть пошту.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="validationCustom04">Адреса</label>
                    <input placeholder="Адреса проживання"
                           required
                           type="text"
                           id="validationCustom04"
                           class="form-control"
                           name="address"
                           th:field="*{address}">
                    <div class="invalid-feedback">Введіть адресу</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="form-label">Пароль</label>
                    <input placeholder="Пароль"
                           type="text"
                           class="form-control"
                           name="password"
                           th:field="*{password}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Додати вчителя</button>
        </form>
    </div>

    <div th:replace="~{admin/parts/footer :: content}"></div>

</div>

</body>
</html>