<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content text-dark"> <!--validation TODO-->
        <form novalidate class=""><h2>Клас</h2>
            <div class="form-row">
                <div class="form-group col-md-4"><label class="form-label"
                                                        for="validationCustom01">Назва класу</label><input required
                                                                                                           placeholder="Введіть назву класу"
                                                                                                           type="text"
                                                                                                           id="validationCustom01"
                                                                                                           class="form-control"
                                                                                                           value>
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group offset-md-1 col-md-3">
                    <label class="form-label"
                           for="validationCustom01">Класний керівник</label>

                    <div class="btn-group">

                        <button type="button" class="btn btn-outline-dark">Оберіть вчителя</button>
                        <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split"
                                id="dropdownGroupTeacher" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" data-reference="parent">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuGroupTeacher">
                            <a class="dropdown-item" href="#">Сторожук Олена Сергіївна</a>
                            <a class="dropdown-item" href="#">Бортнічук Конь Стантинович</a>
                            <a class="dropdown-item" href="#">Мішин Мойша Михайлович</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Додати вчителя</a>
                        </div>
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary">Додати клас</button>
        </form>
    </div>
    <footer class="bg-dark d-flex box footer">
        <small
                class="font-weight-light text-light m-auto">© E-JOURNAL. KSON Team. 2019</small>
    </footer>
</div>

</body>
</html>