<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content">
        <form class="">
            <h2>Батьки</h2>
            <h4>-- Parent1 --</h4>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom01">Прізвище</label>
                    <input required=""
                           placeholder="Прізвище"
                           type="text"
                           id="validationCustom01"
                           class="form-control"
                           value="">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom02">Ім'я</label>
                    <input required=""
                           placeholder="Ім'я"
                           type="text"
                           id="validationCustom02"
                           class="form-control"
                           value="">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom03">По батькові</label>
                    <input required=""
                           placeholder="По батькові"
                           type="text"
                           id="validationCustom03"
                           class="form-control"
                           value="">
                    <div class="valid-feedback">ОК!</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomTel">Телефон</label>
                    <input placeholder="Номер телефону"
                           aria-describedby="inputGroupPrepend"
                           required=""
                           type="tel"
                           id="validationCustomTel"
                           class="form-control"
                           value="">
                    <div class="invalid-feedback">Будь ласка напишіть номер телефону.</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomEmail">Електронна пошта</label>
                    <input required=""
                           placeholder="Електронна пошта"
                           type="email"
                           id="validationCustomEmail"
                           class="form-control"
                           value="">
                    <div class="invalid-feedback">Будь ласка напишіть пошту.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="validationCustom04">Адреса</label>
                    <input placeholder="Адреса проживання"
                           required=""
                           type="text"
                           id="validationCustom04"
                           class="form-control">
                    <div class="invalid-feedback">Введіть адресу</div>
                </div>
            </div>
            <h4>-- Parent2 --</h4>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom05">Прізвище</label>
                    <input required=""
                           placeholder="Прізвище"
                           type="text"
                           id="validationCustom05"
                           class="form-control"
                           value="">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom06">Ім'я</label>
                    <input required=""
                           placeholder="Ім'я"
                           type="text"
                           id="validationCustom06"
                           class="form-control"
                           value="">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom07">По батькові</label>
                    <input required=""
                           placeholder="По батькові"
                           type="text"
                           id="validationCustom07"
                           class="form-control"
                           value="">
                    <div class="valid-feedback">ОК!</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomTel1">Телефон</label>
                    <input placeholder="Номер телефону"
                           aria-describedby="inputGroupPrepend"
                           required=""
                           type="tel"
                           id="validationCustomTel1"
                           class="form-control"
                           value="">
                    <div class="invalid-feedback">Будь ласка напишіть номер телефону.</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomEmail1">Електронна пошта</label>
                    <input required=""
                           placeholder="Електронна пошта"
                           type="email"
                           id="validationCustomEmail1"
                           class="form-control"
                           value="">
                    <div class="invalid-feedback">Будь ласка напишіть пошту.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="validationCustom08">Адреса</label>
                    <input placeholder="Адреса проживання"
                           required=""
                           type="text"
                           id="validationCustom08"
                           class="form-control">
                    <div class="invalid-feedback">Введіть адресу</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="form-label">Пароль</label>
                    <input placeholder="Пароль"
                           type="password"
                           class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Додати батьків</button>
        </form>
    </div>

    <div th:replace="~{admin/parts/footer :: content}"></div>
</div>

</body>
</html>