<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content"> <!--validation TODO-->
        <form
              th:action="@{/e-journal/admin/students/add}" th:object="${student}" th:method="post">
            <h2>Учень</h2>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationDefault01">Прізвище</label>
                    <input required
                           type="text"
                           placeholder="Прізвище"
                           id="validationDefault01"
                           class="form-control"
                           name="lastName"
                           th:field="*{lastName}">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationDefault02">Ім'я</label>
                    <input required
                           placeholder="Ім'я"
                           type="text"
                           id="validationDefault02"
                           class="form-control"
                           name="firstName"
                           th:field="*{firstName}">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationDefault03">По батькові</label>
                    <input required
                           placeholder="По батькові"
                           type="text"
                           id="validationDefault03"
                           class="form-control"
                           value=""
                           th:field="*{secondName}">
                    <div class="valid-feedback">ОК!</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationDefault04">Телефон</label>
                    <input placeholder="Номер телефону"
                           aria-describedby="inputGroupPrepend"
                           required type="tel"
                           pattern='[\+]\d{12}'
                           id="validationDefault04"
                           class="form-control"
                           name="phone"
                           th:field="*{phone}">
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationDefault05">Електронна пошта</label>
                    <input required
                           placeholder="Електронна пошта"
                           type="email"
                           id="validationDefault05"
                           class="form-control"
                           name="email"
                           th:field="*{email}">
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationDefault06">Дата народження</label>
                    <input min="1900-01-01"
                           max="2019-10-11"
                           type="date"
                           id="validationDefault06"
                           class="form-control"
                           th:field="*{birthDate}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="validationDefault07">Адреса</label>
                    <input placeholder="Адреса проживання"
                           required
                           type="text"
                           id="validationDefault07"
                           class="form-control"
                           name="address"
                           th:field="*{address}">
                    <div class="invalid-feedback">Введіть адресу</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="form-label">Пароль</label>
                    <input placeholder="Пароль"
                           type="text"
                           class="form-control"
                           name="password"
                           value="**********"
                           onfocus="this.value=''">
                </div>
            </div>
            <select class="custom-select w-25" name="groupCode">
                <option th:each="group: ${groups}"
                        th:value="${group.groupCode}"
                th:text="${group.groupCode}">
                </option>
            </select>
            <input type="hidden" th:field="*{id}">
            <button type="submit" class="btn btn-primary">Додати учня</button>
        </form>
    </div>

    <div th:replace="~{admin/parts/footer :: content}"></div>

</div>

</body>
</html>