<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content">
        <form class=""  th:action="@{/e-journal/admin/parents/add}" th:object="${parent}" th:method="post">
            <h2>Батьки</h2>
            <h4>-- Батько --</h4>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom01">Прізвище</label>
                    <input required=""
                           placeholder="Прізвище"
                           type="text"
                           id="validationCustom01"
                           class="form-control"
                           th:field="*{lastName}">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom02">Ім'я</label>
                    <input required=""
                           placeholder="Ім'я"
                           type="text"
                           id="validationCustom02"
                           class="form-control"
                           th:field="*{firstName}">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom03">По батькові</label>
                    <input required=""
                           placeholder="По батькові"
                           type="text"
                           id="validationCustom03"
                           class="form-control"
                           th:field="*{secondName}">
                    <div class="valid-feedback">ОК!</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomTel">Телефон</label>
                    <input placeholder="Номер телефону"
                           aria-describedby="inputGroupPrepend"
                           required=""
                           type="tel"
                           id="validationCustomTel"
                           class="form-control"
                           th:field="*{phone}">
                    <div class="invalid-feedback">Будь ласка напишіть номер телефону.</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomEmail">Електронна пошта</label>
                    <input required=""
                           placeholder="Електронна пошта"
                           type="email"
                           id="validationCustomEmail"
                           class="form-control"
                           th:field="*{email}">
                    <div class="invalid-feedback">Будь ласка напишіть пошту.</div>
                </div>
            </div>
            <h4>-- Матір --</h4>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom05">Прізвище</label>
                    <input placeholder="Прізвище"
                           type="text"
                           id="validationCustom05"
                           class="form-control"
                           th:field="*{lastName2}">
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom06">Ім'я</label>
                    <input placeholder="Ім'я"
                           type="text"
                           id="validationCustom06"
                           class="form-control"
                           th:field="*{firstName2}">
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom07">По батькові</label>
                    <input placeholder="По батькові"
                           type="text"
                           id="validationCustom07"
                           class="form-control"
                           th:field="*{secondName2}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomTel1">Телефон</label>
                    <input placeholder="Номер телефону"
                           aria-describedby="inputGroupPrepend"
                           type="tel"
                           id="validationCustomTel1"
                           class="form-control"
                           th:field="*{phone2}">
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomEmail1">Електронна пошта</label>
                    <input placeholder="Електронна пошта"
                           type="email"
                           id="validationCustomEmail1"
                           class="form-control"
                           th:field="*{email2}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="form-label">Пароль</label>
                    <input placeholder="Пароль"
                           type="password"
                           class="form-control"
                           th:field="*{password}">
                </div>
            </div>
            <input type="hidden" th:field="*{id}">
            <button type="submit" class="btn btn-primary">Додати батьків</button>
        </form>
    </div>

    <div th:replace="~{admin/parts/footer :: content}"></div>
</div>

</body>
</html>