<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>


    <div class="bg-light box content text-dark">
        <form
              th:action="@{/e-journal/admin/teachers/add}" th:object="${teacher}" th:method="post">
            <h2>Вчитель</h2>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom01">Прізвище</label>
                        <input required
                               type="text"
                               placeholder="Прізвище"
                               id="validationCustom01"
                               class="form-control"
                               name="lastName"
                               th:field="*{lastName}">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom02">Ім'я</label>
                    <input required
                           placeholder="Ім'я"
                           type="text"
                           id="validationCustom02"
                           class="form-control"
                           name="firstName"
                           th:field="*{firstName}">
                    <div class="valid-feedback">ОК!</div>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustom03">По батькові</label>
                    <input required
                           placeholder="По батькові"
                           type="text"
                           id="validationCustom03"
                           class="form-control"
                           value=""
                           th:field="*{secondName}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomTel">Телефон</label>
                    <input placeholder="Номер телефону"
                           aria-describedby="inputGroupPrepend"
                           required type="tel"
                           id="validationCustomTel"
                           pattern='[\+]\d{12}'
                           class="form-control"
                           name="phone"
                           th:field="*{phone}">
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label" for="validationCustomEmail">Електронна пошта</label>
                    <input required
                           placeholder="Електронна пошта"
                           type="email"
                           id="validationCustomEmail"
                           class="form-control"
                           name="email"
                           th:field="*{email}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="validationCustom04">Адреса</label>
                    <input placeholder="Адреса проживання"
                           required
                           type="text"
                           id="validationCustom04"
                           class="form-control"
                           name="address"
                           th:field="*{address}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="form-label">Пароль</label>
                    <input placeholder="Пароль"
                           type="text"
                           class="form-control"
                           name="password"
                           value="**********"
                           onfocus="this.value=''">
                </div>
            </div>
            <input type="hidden" th:field="*{id}">
            <button type="submit" class="btn btn-primary">Додати вчителя</button>
        </form>
    </div>

    <div th:replace="~{admin/parts/footer :: content}"></div>

</div>

</body>
</html>