<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light  box content"><h1>Клас</h1>
        <div class="card">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav"><a href="/admin/add_parents" class="btn btn-primary">+ Клас</a></div>
                <form class="form-inline"><input placeholder="Search" type="text" class="mr-sm-2 form-control">
                    <button type="button" class="btn btn-outline-info">Пошук</button>
                </form>
            </nav>
            <div class="table-responsive">
                <table class="table table-light table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Назва класу</th>
                        <th>Класний керівник</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>11-A</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>11-Б</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>11-В</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>10-A</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>10-Б</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>10-В</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>9-A</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>9-Б</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>9-В</td>
                        <td>Сторожук Дмитро Батькович</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="bg-dark d-flex box footer">
        <small
                class="font-weight-light text-light m-auto">© E-JOURNAL. KSON Team. 2019</small>
    </footer>
</div>

</body>
</html>