<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light  box content"><h1>Клас</h1>
        <div class="card">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav"><a th:href="@{/admin/groups/edit}" class="btn btn-primary">+ Клас</a></div>
                <form class="form-inline"><input placeholder="Search" type="text" class="mr-sm-2 form-control">
                    <button type="button" class="btn btn-outline-info">Пошук</button>
                </form>
            </nav>
            <div class="table-responsive">
                <table class="table table-light table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Назва класу</th>
                        <th>Класний керівник</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group : ${groupsList}">
                        <td th:text="${group.groupCode}">Клас</td>
                        <td class="sec_col">
                            <div role="toolbar" class="btn-toolbar">
                                <a type="button" class="mr-1 btn btn-outline-warning btn-sm"
                                   th:href="@{/e-journal/admin/groups/edit/{id}(id=${group.getId()})}">Змінити</a>
                                <a type="button" class="btn btn-outline-danger btn-sm"
                                   th:href="@{/e-journal/admin/groups/delete/{id}(id=${group.getId()})}">Видалити</a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{admin/parts/footer :: content}"></div>
</div>

</body>
</html>