<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content"><h1>Батьки</h1>
        <div class="card">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav"><a th:href="@{/e-journal/admin/parents/add}" class="btn btn-primary">+ Батьки</a></div>
                <form class="form-inline"><input placeholder="Search" type="text" class="mr-sm-2 form-control">
                    <button type="button" class="btn btn-outline-info">Search</button>
                </form>
            </nav>
            <div class="table-responsive">
                <table class="table table-light table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Прізвище</th>
                        <th>Ім'я</th>
                        <th>Побатькові</th>
                        <th>E-mail</th>
                        <th>Телефон</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="parent: ${parentList}">
                        <td><p th:text="${parent.getLastName()}"></p><p th:text="${parent.getLastName2()}"></p></td>
                        <td><p th:text="${parent.getFirstName()}"></p><p th:text="${parent.getFirstName2()}"></p></td>
                        <td><p th:text="${parent.getSecondName()}"></p><p th:text="${parent.getSecondName2()}"></p></td>
                        <td><p th:text="${parent.getEmail()}"></p><p th:text="${parent.getEmail()}"></p></td>
                        <td><p th:text="${parent.getPhone()}"></p><p th:text="${parent.getPhone2()}"></p></td>
                        <td>
                            <div role="toolbar" class="btn-toolbar">
                                <a type="button" th:href="@{/e-journal/admin/parents/edit/{id}(id=${parent.getId()})}"
                                   class="mr-1 btn btn-outline-warning btn-sm">Змінити</a>
                                <a type="button" th:href="@{/e-journal/admin/parents/delete/{id}(id=${parent.getId()})}"
                                   class="btn btn-outline-danger btn-sm">Видалити</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{admin/parts/footer :: content}"></div>
</div>

</body>
</html>