<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content"><h1>Батьки</h1>
        <div class="card">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav"><a href="/admin/add_parents" class="btn btn-primary">+ Батьки</a></div>
                <form class="form-inline"><input placeholder="Search" type="text" class="mr-sm-2 form-control">
                    <button type="button" class="btn btn-outline-info">Search</button>
                </form>
            </nav>
            <div class="table-responsive">
                <table class="table table-light table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Прізвище</th>
                        <th>Ім'я</th>
                        <th>Побатькові</th>
                        <th>E-mail</th>
                        <th>Телефон</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Shemeliuk<br>Shemeliuk</td>
                        <td>Orest<br>Marichka</td>
                        <td>Batkovich<br>Batkivna</td>
                        <td>shemel_o@gmail.com<br>shemel_m@gmail.com</td>
                        <td>+380XXXXXXX2<br>+380XXXXXXX7</td>
                        <td>
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Royenko<br>Royenko</td>
                        <td>Olexandr<br>Maxym</td>
                        <td>Batkovich<br>Batkovich</td>
                        <td>frontend_developer@yandex.ru<br>backend_developer@yandex.ru</td>
                        <td>+380XXXXXXX3<br>+380XXXXXXX8</td>
                        <td>
                            <div role="toolbar" class="btn-toolbar">
                                <button type="button" class="mr-1 btn btn-outline-warning btn-sm">Змінити</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Видалити</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="bg-dark d-flex box footer">
        <small
                class="font-weight-light text-light m-auto">© E-JOURNAL. KSON Team. 2019</small>
    </footer>
</div>

</body>
</html>