<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content">
        <h2 class="mb-2">Розклад уроків</h2>
        <div class="card">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav">
                    <a href="#"
                       class="btn btn-primary">+ Додати розклад</a>
                </div>
            </nav>
            <nav class="navbar navbar-expand navbar-light bg-light">
                <form class="form-inline" method="get">
                    <label class="form-label" for="validationDefault02">Виберіть клас</label><br>
                    <select id="validationDefault02" class="custom-select w-100" name="groupId">
                        <option id="validationDefault08"
                                th:each="group: ${groups}"
                                th:value="${group.id}"
                                th:text="${group.groupCode}">
                        </option>
                    </select>
                </form>
            </nav>
            <span class="ml-3 mt-2 mb-1 d-inline">
                    <h4 th:text="${group.groupCode}">Клас</h4>
                    <small><a th:href="@{/e-journal/admin/schedule/edit}">Змінити розклад</a></small>
                </span>
            <table class="table table-responsive ml-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Понеділок</th>
                    <th scope="col">Вівторок</th>
                    <th scope="col">Середа</th>
                    <th scope="col">Четверг</th>
                    <th scope="col">П'ятниця</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td>
                        <strong>Фізика</strong><br>
                        <small>Власов О.В., к.303</small>
                    </td>
                    <td>
                        <strong>Українська мова</strong><br>
                        <small>Дрон А.С., к.112</small>
                    </td>
                    <td>
                        <strong>Англійська мова</strong><br>
                        <small>Гагаріна М.К., к.308</small>
                    </td>
                    <td>
                        <strong>Фізичне виховання</strong><br>
                        <small>Михайлов С.А., к.404</small>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>


<div th:replace="~{admin/parts/footer :: content}"></div>

</body>
</html>