<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>


<body>
<div class="wrapper">
    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light box content">
        <h2 class="mb-2">Розклад уроків</h2>
        <div class="card">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav">
                    <a th:href="@{/e-journal/admin/schedule/edit}"
                       class="btn btn-primary">+ Додати розклад</a>
                </div>
            </nav>
            <nav class="navbar navbar-expand navbar-light bg-light">
                <form class="form-inline" method="get" th:action="@{/e-journal/admin/schedule}" th:object="${group}">
                    <label class="form-label" for="validationDefault02">Виберіть клас</label><br>
                    <select id="validationDefault02" class="custom-select w-100" th:field="*{groupCode}">
                        <option id="validationDefault08"
                                th:each="group: ${groups}"
                                th:value="${group.groupCode}"
                                th:text="${group.groupCode}">
                        </option>
                    </select>
                    <input type="submit" value="Вибрати">
                </form>
            </nav>
            <span class="ml-3 mt-2 mb-1 d-inline">
                    <h4 th:text="${group.groupCode}">Клас</h4>
                    <small><a th:href="@{/e-journal/admin/schedule/edit}">Змінити розклад</a></small>
                </span>
            <div class="table-responsive">
                <table class="table ml-3">
                    <thead>
                    <tr>
                        <th scope="col">День</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                        <th scope="col">7</th>
                        <th scope="col">8</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Понеділок</td>
                        <td th:each="schedule : ${scheduleMap.get(1)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Вівторок</td>
                        <td th:each="schedule : ${scheduleMap.get(2)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Середа</td>
                        <td th:each="schedule : ${scheduleMap.get(3)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Четвер</td>
                        <td th:each="schedule : ${scheduleMap.get(4)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>П'ятниця</td>
                        <td th:each="schedule : ${scheduleMap.get(5)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<div th:replace="~{admin/parts/footer :: content}"></div>

</body>
</html>