<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{admin/parts/head :: content}"></div>

<body>
<div class="wrapper">

    <div th:replace="~{admin/parts/header :: content}"></div>

    <div th:replace="~{admin/parts/aside :: content}"></div>

    <div class="bg-light  box content"><h1>Учні</h1>
        <div class="card">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav"><a th:href="@{/e-journal/admin/students/edit}" class="btn btn-primary">+ Учень</a></div>
                <form class="form-inline" th:action="@{/e-journal/admin/students/search}"><input placeholder="Search" type="text" class="mr-sm-2 form-control">
                    <button type="button" class="btn btn-outline-info">Search</button>
                </form>
            </nav>
            <div class="table-responsive">
                <table class="table table-light table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Прізвище</th>
                        <th>Ім'я</th>
                        <th>По батькові</th>
                        <th>Клас</th>
                        <th>E-mail</th>
                        <th>Телефон</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${studentList}">
                        <td th:text="${student.getLastName()}"><br></td>
                        <td th:text="${student.getFirstName()}"><br></td>
                        <td th:text="${student.getSecondName()}"><br></td>
                        <td th:text="${student.getGroup() == null ? 'null' : student.getGroup().getGroupCode()}"><br></td>
                        <td th:text="${student.getEmail()}">br></td>
                        <td th:text="${student.getPhone()}"><br></td>
                        <td>
                            <div role="toolbar" class="btn-toolbar">
                                <a type="button" class="mr-1 btn btn-outline-warning btn-sm"
                                   th:href="@{/e-journal/admin/students/edit/{id}(id=${student.getId()})}">
                                    Змінити
                                </a>
                                <a type="button" class="btn btn-outline-danger btn-sm"
                                   th:href="@{/e-journal/admin/students/delete/{id}(id=${student.getId()})}">
                                    Видалити
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:replace="~{admin/parts/footer :: content}"></div>

</div>

</body>
</html>