<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{student/parts/head :: head}"></div>

<body>
<div class="wrapper">

    <div th:replace="~{student/parts/header :: header}"></div>

    <div th:replace="~{student/parts/aside :: aside}"></div>

    <div class="box content">
        <h2 class="mb-3">Домашні завдання учня</h2>
        <form class="mb-2 ">
            <div class="form-group">
                <label class="form-label"
                       for="validationCustom01">Предмет</label><br>

                <select id="validationCustom01" class="custom-select w-25 ">
                    <option selected>Виберіть предмет</option>
                    <th:block th:each="subject : ${subjects}">
                        <option th:value="${subject.getId()}" th:text="${subject.getName()}"></option>
                    </th:block>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">ОК</button>
            </div>
        </form>
        <h4>Алгебра</h4>
        <div class="table-responsive">
            <table class="table table-light table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Завдання</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225,№225,№225,№225,</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225, підготуватись до ср</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td> -</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225,№225,№225, книга стр. 100-500</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225,№225,№225,№225, конспект</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225,№225, підготуватись до ЗНО</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td> -</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{student/parts/footer :: footer}"></div>
</div>

</body>
</html>