<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{student/parts/head :: content}"></div>

<body>
<div class="wrapper">

    <div th:replace="~{student/parts/header :: content}"></div>

    <div th:replace="~{student/parts/aside :: content}"></div>
    <aside class="box sidebar">
        <div class="flex-column nav">
            <div class="nav-item"><a href="/student/profile" data-rb-event-key="/student/profile"
                                     class="ml-2 text-dark active nav-link active">Ваш профіль</a></div>
            <div class="nav-item"><a href="/admin/schedule" data-rb-event-key="/admin/schedule"
                                     class="ml-2 text-dark nav-link">Розклад уроків</a></div>
            <div class="nav-item"><a href="/student/journal" data-rb-event-key="/student/journal"
                                     class="ml-2 text-dark nav-link">Журнал</a></div>
            <div class="nav-item"><a href="/student/hometasks" data-rb-event-key="/student/hometasks"
                                     class="ml-2 text-dark nav-link">Домашні завдання</a></div>
            <div class="nav-item"><a href="/student/hometasks" data-rb-event-key="/student/hometasks"
                                     class="ml-2 text-dark nav-link">Зауваження</a></div>
        </div>
    </aside>

    <div class="box content"><h2 class="mb-3">Домашні завдання учня</h2>
        <div class="mb-2 dropdown"><!--TODO-->
            <button aria-haspopup="true" aria-expanded="false" id="dropdown-basic" type="button"
                    class="dropdown-toggle btn btn-light">Оберіть предмет
            </button>
        </div>
        <h4>Алгебра</h4>
        <div class="table-responsive">
            <table class="table table-light table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Завдання</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225,№225,№225,№225,</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225, підготуватись до ср</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td> -</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225,№225,№225, книга стр. 100-500</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225,№225,№225,№225, конспект</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td>№225,№225,№225,№225, підготуватись до ЗНО</td>
                </tr>
                <tr>
                    <td>01.09.2019</td>
                    <td> -</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{student/parts/footer :: content}"></div>
</div>

</body>
</html>