<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{student/parts/head :: head}"></div>

<body>
<div class="wrapper">

    <div th:replace="~{student/parts/header :: header}"></div>

    <div th:replace="~{student/parts/aside :: aside}"></div>
    <div class="box content">
        <h2 class="mb-3">Журнал оцінок учня</h2>
        <select class="custom-select w-50" id="ex2">
            <option selected>Оберіть предмет</option>
            <option value="1">Алгебра</option>
            <option value="2">Геометрія</option>
            <option value="3">....</option>
            <option value="4">Фізика</option>
        </select>
        <button type="submit" class="btn btn-md btn-primary ml-2 mt-2 mb-2">ОК</button>
        <div class="table-responsive">
            <table class="table table-light table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>01.09.2019</th>
                    <th>01.09.2019</th>
                    <th>01.09.2019</th>
                    <th>01.09.2019</th>
                    <th>01.09.2019</th>
                    <th>01.09.2019</th>
                    <th>01.09.2019</th>
                    <th>01.09.2019</th>
                    <th>01.09.2019</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Алгебра</td>
                    <td>10</td>
                    <td></td>
                    <td>12</td>
                    <td>10</td>
                    <td>н</td>
                    <td>12</td>
                    <td>10</td>
                    <td></td>
                    <td>12</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{student/parts/footer :: footer}"></div>
</div>

</body>
</html>