<!DOCTYPE HTML>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../css/studentpage.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>E-journal</title>

</head>

<body>

<div class="wrapper">
    <header class="box header">
        <nav class="navbar navbar-expand navbar-light"><a href="#home"
                                                          class="mr-auto font-weight-bold text-light navbar-brand">E-JOURNAL</a><span
                class="font-weight-light text-light navbar-text">Ви увійшли як: <a class="font-weight-bold text-light"
                                                                                   href="#login">Сторожук Костянтин Сергійович, </a><a
                class="font-weight-bold text-light" href="#login">11-В </a> <br><a class="text-light mr-0"
                                                                                   href="#logout">Вийти</a></span></nav>
    </header>
    <aside class="box sidebar">
        <div class="flex-column nav">
            <div class="nav-item"><a href="/student/profile" data-rb-event-key="/student/profile"
                                     class="ml-2 text-dark active nav-link active">Ваш профіль</a></div>
            <div class="nav-item"><a href="/admin/schedule" data-rb-event-key="/admin/schedule"
                                     class="ml-2 text-dark nav-link">Розклад уроків</a></div>
            <div class="nav-item"><a href="/student/journal" data-rb-event-key="/student/journal"
                                     class="ml-2 text-dark nav-link">Журнал</a></div>
            <div class="nav-item"><a href="/student/hometasks" data-rb-event-key="/student/hometasks"
                                     class="ml-2 text-dark nav-link">Домашні завдання</a></div>
            <div class="nav-item"><a href="/student/rebukes" data-rb-event-key="/student/hometasks"
                                     class="ml-2 text-dark nav-link">Зауваження</a></div>
        </div>
    </aside>
    <div class="box content">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><img class="w-100 rounded border"
                                           src="https://instagram.fdnk1-1.fna.fbcdn.net/vp/53a7c63e343bca3099b9f23a1cfcb8a5/5E8CABE1/t51.2885-19/s320x320/72875015_1368029390037558_6816249923525148672_n.jpg?_nc_ht=instagram.fdnk1-1.fna.fbcdn.net">
                </div>
                <div class="col-md-9">
                    <div class="d-flex align-items-center"><h2 class="font-weight-bold m-0">Сторожук Костянтин
                        Сергійович</h2>
                        <address class="m-0 pt-2 pl-0 pl-md-4 font-weight-light text-secondary"><i
                                class="fa fa-map-marker"></i>11-В
                        </address>
                    </div>
                    <p class="h5 text-primary mt-2 d-block font-weight-light">Учень</p>
                    <section class="mt-5"><h3 class="h6 font-weight-light text-secondary text-uppercase">Середній
                        бал</h3>
                        <div class="d-flex align-items-center"><strong
                                class="h1 font-weight-bold m-0 mr-3">10.85</strong>
                            <div><input data-filled="fa fa-2x fa-star mr-1 text-warning"
                                        data-empty="fa fa-2x fa-star-o mr-1 text-light" type="hidden" class="rating"
                                        data-readonly="true" value="5"></div>
                        </div>
                    </section>
                    <div class="tab-content py-4" id="myTabContent">
                        <div class="tab-pane py-3 fade show active" id="home" role="tabpanel"
                             aria-labelledby="home-tab"><h6 class="text-uppercase font-weight-light text-secondary">
                            Інформація</h6>
                            <dl class="row mt-4 mb-4 pb-3">
                                <dt class="col-sm-3">Клас</dt>
                                <dd class="col-sm-9">11-В</dd>
                                <dt class="col-sm-3">Дата народження</dt>
                                <dd class="col-sm-9">20 листопада 1999</dd>
                                <dt class="col-sm-3">Телефон</dt>
                                <dd class="col-sm-9">+380 68-552-99-17</dd>
                                <dt class="col-sm-3">Домашня адреса</dt>
                                <dd class="col-sm-9">
                                    <address class="mb-0">м. Вінниця, вул. Р. Скалецького, 34а, кв.33</address>
                                </dd>
                                <dt class="col-sm-3">Електронна пошта</dt>
                                <dd class="col-sm-9"><a href="mailto:kostyastorozhuk@gmail.com">kostyastorozhuk@gmail.com</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="d-flex box footer"><small class="font-weight-light text-light m-auto">©
        E-JOURNAL. KSON Team. 2019</small></footer>
</div>

</body>
</html>