<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{student/parts/head :: head}"></head>

<body>
<div class="wrapper">

    <div th:replace="~{student/parts/header :: header}"></div>

    <div th:replace="~{student/parts/aside :: aside}"></div>
    <div class="box content">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><img class="w-100 rounded border"
                                           th:src="@{${student.getUrl()}}">
                </div>
                <div class="col-md-9">
                    <div class="d-flex align-items-center mt-3">
                        <h2 class="font-weight-bold mr-3" th:text="${student.firstName}"></h2>
                        <h2 class="font-weight-bold mr-3" th:text="${student.secondName}"></h2>
                        <h2 class="font-weight-bold mr-3" th:text="${student.lastName}"></h2>
                    </div>
                    <p class="h5 text-primary mt-2 d-block font-weight-light">Учень</p>
                    <div class="tab-content pb-4" id="myTabContent">
                        <div class="tab-pane py-3 fade show active" id="home" role="tabpanel"
                             aria-labelledby="home-tab"><h6 class="text-uppercase font-weight-light text-secondary">
                            Інформація</h6>
                            <dl class="row mt-4 mb-4 pb-3">
                                <dt class="col-sm-3">Клас</dt>
                                <dd class="col-sm-9" th:text="${student.getGroup().getGroupCode()}"></dd>
                                <dt class="col-sm-3">Дата народження</dt>
                                <dd class="col-sm-9" th:text="${student.getBirthDate()}"></dd>
                                <dt class="col-sm-3">Телефон</dt>
                                <dd class="col-sm-9" th:text="${student.getPhone()}"></dd>
                                <dt class="col-sm-3">Домашня адреса</dt>
                                <dd class="col-sm-9">
                                    <address class="mb-0" th:text="${student.getAddress()}"></address>
                                </dd>
                                <dt class="col-sm-3">Електронна пошта</dt>
                                <dd class="col-sm-9"><a th:href="@{mailto:${student.getEmail()}}" th:text="${student.getEmail()}"></a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{student/parts/footer :: footer}"></div>
</div>

</body>
</html>