<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{student/parts/head :: head}"></div>

<body>
<div class="wrapper">

    <div th:replace="~{student/parts/header :: header}"></div>

    <div th:replace="~{student/parts/aside :: aside}"></div>
    <div class="box content">
        <h2 class="mb-3">Мої зауваження</h2>

        <div class="table-responsive">
            <table class="table table-light table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Зауваження</th>
                    <th>Вчитель</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rebuke : ${rebukeList}">
                    <td th:text="${rebuke.rebukeDate}"></td>
                    <td th:text="${rebuke.rebukeMessage}">Багато розмовляє</td>
                    <td th:text="${rebuke.teacher.lastName + ' ' +
                     rebuke.teacher.firstName.charAt(0) + '. ' +
                     rebuke.teacher.secondName.charAt(0) + '.' }"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{student/parts/footer :: footer}"></div>
</div>

</body>
</html>