<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{student/parts/head :: head}"></div>

<body>
<div class="wrapper">

    <div th:replace="~{student/parts/header :: header}"></div>

    <div th:replace="~{student/parts/aside :: aside}"></div>

    <div class="box content">
        <h2 class="mb-2">Розклад уроків</h2>
        <div class="card">
            <div class="table-responsive">
                <table class="table ml-3">
                    <thead>
                    <tr>
                        <th scope="col">День</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                        <th scope="col">7</th>
                        <th scope="col">8</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Понеділок</td>
                        <td th:each="schedule : ${scheduleMap.get(1)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Вівторок</td>
                        <td th:each="schedule : ${scheduleMap.get(2)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Середа</td>
                        <td th:each="schedule : ${scheduleMap.get(3)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Четвер</td>
                        <td th:each="schedule : ${scheduleMap.get(4)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>П'ятниця</td>
                        <td th:each="schedule : ${scheduleMap.get(5)}">
                            <div th:if="${schedule.subject.name}">
                                <strong th:text="${schedule.subject.name}"></strong><br>
                                <div class="d-inline">
                                    <p th:text="${schedule.teacher.lastName + ' ' +
                                 schedule.teacher.firstName + ' ' +
                                  schedule.teacher.secondName}"></p>
                                </div>
                                <small th:text="${schedule.cabinet == null ? schedule.cabinet : ' '}"></small>
                            </div>
                            <div th:unless="${schedule.subject.name}">
                                <p> </p>
                            </div>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{student/parts/footer :: footer}"></div>

</body>
</html>