<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="box sidebar">
    <div class="flex-column nav">
        <div class="nav-item"><a href="/student/profile" data-rb-event-key="/student/profile"
                                 class="ml-2 text-dark active nav-link active">Ваш профіль</a></div>
        <div class="nav-item"><a href="/admin/schedule" data-rb-event-key="/admin/schedule"
                                 class="ml-2 text-dark nav-link">Розклад уроків</a></div>
        <div class="nav-item"><a href="/student/journal" data-rb-event-key="/student/journal"
                                 class="ml-2 text-dark nav-link">Журнал</a></div>
        <div class="nav-item"><a href="/student/hometasks" data-rb-event-key="/student/hometasks"
                                 class="ml-2 text-dark nav-link">Домашні завдання</a></div>
        <div class="nav-item"><a href="/student/hometasks" data-rb-event-key="/student/hometasks"
                                 class="ml-2 text-dark nav-link">Зауваження</a></div>
    </div>
</aside>
</body>
</html>