<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="box header" th:fragment="header">
    <nav class="navbar navbar-expand navbar-light"><a href=""
                                                      class="mr-auto font-weight-bold text-light navbar-brand">E-JOURNAL</a><span
            class="font-weight-light text-light navbar-text">Ви увійшли як: <a
            class="font-weight-bold text-light" href=""
            th:text="${student.firstName} + ' '  +  ${student.secondName} + ' '  + ${student.lastName}"></a>,
        <a class="text-light"
           th:href="@{/logout}">Вийти</a></span>
    </nav>
</header>
</body>
</html>