<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="box header">
    <nav class="navbar navbar-expand navbar-light"><a href="#home"
                                                      class="mr-auto font-weight-bold text-light navbar-brand">E-JOURNAL</a><span
            class="font-weight-light text-light navbar-text">Ви увійшли як: <a class="font-weight-bold text-light"
                                                                               href="#login">Сторожук Костянтин Сергійович, </a><a
            class="font-weight-bold text-light" href="#login">11-В </a> <br><a class="text-light mr-0"
                                                                               href="#logout">Вийти</a></span></nav>
</header>
</body>
</html>