<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="box sidebar" th:fragment="aside">
    <div class="flex-column nav">
        <div class="nav-item "><a th:href="@{/e-journal/teacher}" class="ml-2 text-light active nav-link active">Ваш профіль</a></div>
        <div class="nav-item "><a th:href="@{/e-journal/teacher/schedule}" class="ml-2 text-light nav-link">Розклад уроків</a></div>
        <div class="nav-item "><a th:href="@{/e-journal/teacher/marks}" class="ml-2 text-light nav-link">Журнал</a></div>
        <div class="nav-item "><a th:href="@{/e-journal/teacher/hometask}" class="ml-2 text-light nav-link">Домашні завдання</a></div>
        <div class="nav-item t"><a th:href="@{/e-journal/teacher/rebukes}" class="ml-2 text-light nav-link">Зауваження</a></div>
    </div>
</aside>
</body>
</html>