<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{teacher/parts/head :: head}"></head>
<body>
<div class="wrapper">
    <div th:replace="~{teacher/parts/header :: header}"></div>

    <div th:replace="~{teacher/parts/aside :: aside}"></div>

    <div class="box content">

        <form class="ml-2">
            <h3>Додати зауваження</h3>
            <div class="add_mark_toolbar d-block">
                <div class="form-group w-25">
                    <label class="form-label" for="validationDefault06">Дата</label>
                    <input min="2010-01-01"
                           max="2025-10-11"
                           type="date"
                           id="validationDefault06"
                           class="form-control">
                </div>
                <div class="form-group w-50">
                    <label for="ex1">Вибір учня</label>
                    <select class="custom-select" id="ex1">
                        <option selected>Виберіть учня</option>
                        <option value="1">Сторожук Нікіта Батькович</option>
                        <option value="2">Бортік Нікіта Батькович</option>
                        <option value="3">Шмель Нікіта Батькович</option>
                    </select>
                </div>
            </div>
            <div class="form-group w-50">
                <label for="exampleFormControlTextarea1">Текст зауваження</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-md btn-success mt-2 mb-2">Підтвердити</button>
        </form>

    </div>
</div>

<footer th:replace="~{teacher/parts/footer :: footer}"></footer>

</body>
</html>