<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{teacher/parts/head :: head}"></div>
<body>
<div class="wrapper">
    <header class="box header" th:fragment="header">
        <nav class="navbar navbar-expand navbar-light"><a href=""
                                                          class="mr-auto font-weight-bold text-light navbar-brand">E-JOURNAL</a><span
                class="font-weight-light text-light navbar-text">Ви увійшли як: <a
                class="font-weight-bold text-light" href="" th:text="${teacherName}"></a>, <a class="text-light"
                                                                                              th:href="@{/logout}">Вийти</a></span>
        </nav>
    </header>

    <aside class="box sidebar" th:fragment="aside">
        <div class="flex-column nav">
            <div class="nav-item "><a th:href="@{/e-journal/teacher}" class="ml-2 text-light active nav-link active">Ваш
                профіль</a></div>
            <div class="nav-item "><a th:href="@{/e-journal/teacher/schedule}" class="ml-2 text-light nav-link">Розклад
                уроків</a></div>
            <div class="nav-item "><a th:href="@{/e-journal/teacher/marks}" class="ml-2 text-light nav-link">Журнал</a>
            </div>
            <div class="nav-item "><a th:href="@{/e-journal/teacher/hometask}" class="ml-2 text-light nav-link">Домашні
                завдання</a></div>
            <div class="nav-item t"><a th:href="@{/e-journal/teacher/rebukes}" class="ml-2 text-light nav-link">Зауваження</a>
            </div>
        </div>
    </aside>

    <div class="box content">

        <form class="ml-2" th:action="@{/e-journal/teacher/hometask/add}" th:object="${homework}" th:method="post">
            <h3>Додати завдання</h3>
            <div class="add_mark_toolbar d-block">
                <div class="form-group w-25">
                    <label class="form-label">Дата</label>
                    <input min="1900-01-01"
                           max="2019-10-11"
                           type="date"
                           class="form-control"
                            name="deadline">
                </div>
                <div class="form-group w-50">
                    <label for="ex1">Вибір класу</label>
                    <select class="custom-select" id="ex1">
                        <option selected>Виберіть клас</option>
                        <option value="1">10-А</option>
                        <option value="2">10-А</option>
                        <option value="3">10-А</option>
                    </select>
                </div>
            </div>
            <div class="form-group w-50">
                <label for="exampleFormControlTextarea1">Текст завдання</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{task}"></textarea>
            </div>
            <button type="submit" class="btn btn-md btn-success mt-2 mb-2">Підтвердити</button>
        </form>

    </div>
</div>

<div th:replace="~{teacher/parts/footer :: footer}"></div>

</body>
</html>