<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{teacher/parts/head :: head}"></div>
<body>
<div class="wrapper">
    <div th:replace="~{teacher/parts/header :: header}"></div>

    <div th:replace="~{teacher/parts/aside :: aside}"></div>

    <div class="box content">

        <form class="ml-2" action="/e-journal/teacher/make-rebuke" method="post">
            <h3>Додати зауваження</h3>
            <div class="add_mark_toolbar d-block">
                <div class="form-group w-25">
                    <label class="form-label" for="validationDefault06">Дата</label>
                    <input min="2010-01-01"
                           max="2025-10-11"
                           type="date"
                           id="validationDefault06"
                           class="form-control"
                           name="date">
                </div>
                <div class="form-group w-50">
                    <label for="ex1">Вибір учня</label>
                    <select class="custom-select" id="ex1">
                        <option selected>Виберіть учня</option>
                        <option th:each="student : ${students}" th:value="${student.getId()}">
                            <b th:text="${student.firstName}"></b> <b th:text="${student.lastName}"></b>
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group w-50">
                <label for="exampleFormControlTextarea1">Текст зауваження</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
            </div>
            <button type="submit" class="btn btn-md btn-success mt-2 mb-2">Підтвердити</button>
        </form>

    </div>
</div>

<div th:replace="~{teacher/parts/footer :: footer}"></div>

</body>
</html>