<!DOCTYPE HTML>

<html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{teacher/parts/head :: head}"></head>
<body>
<div class="wrapper">
    <div th:replace="~{teacher/parts/header :: header}"></div>

    <div th:replace="~{teacher/parts/aside :: aside}"></div>

    <div class="box content">

        <form class="ml-2">
            <div class="form-row">
                <h2 class="mb-2">Додати оцінку</h2>
            </div>
            <div class="form-row">
                <div class="form-group mr-3">
                    <label class="form-label" for="validationDefault01">Клас</label><br>
                    <select id="validationDefault01" class="custom-select w-100">
                        <option value="1">11-А</option>
                        <option value="2">10-Б</option>
                        <option value="3">...</option>
                        <option value="4">9-В</option>
                    </select>

                </div>
                <div class="form-group mr-3">
                    <label class="form-label" for="validationDefault02">Предмет</label><br>
                    <select id="validationDefault02" class="custom-select w-100">
                        <option value="1">Алгебра</option>
                        <option value="2">Геометрія</option>
                        <option value="3">...</option>
                        <option value="4">Фізика</option>
                    </select>
                </div>
                <div class="form-group mr-3">
                    <label class="form-label" for="validationDefault03">Учень</label><br>
                    <select id="validationDefault03" class="custom-select w-100">

                        <option value="1">Сторожук Нікіта Батькович</option>
                        <option value="2">Бортік Нікіта Батькович</option>
                        <option value="3">Шмель Нікіта Батькович</option>
                    </select>
                </div>


                <div class="form-group mr-3">
                    <label class="form-label" for="validationDefault04">Кількість балів</label><br>
                    <select id="validationDefault04" class="custom-select w-100">

                        <option value="1">12</option>
                        <option value="2">11</option>
                        <option value="3">...</option>
                        <option value="4">1</option>
                        <option value="5">н</option>
                    </select>
                </div>
                <div class="form-group mr-3">
                    <label class="form-label" for="validationDefault05">Дата</label><br>
                    <select id="validationDefault05" class="custom-select w-50">

                        <option value="1">01.09.2019</option>
                        <option value="2">Дати уроків в цьому класі цього вчителя</option>
                        <option value="3">...</option>
                        <option value="4">21.12.2019</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-success">Додати оцінку</button>
            </div>
        </form>

    </div>

<footer th:replace="~{teacher/parts/footer :: footer}"></footer>

</body>
</html>