<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{teacher/parts/head :: head}"></div>
<body>
<div class="wrapper">
    <div th:replace="~{teacher/parts/header :: header}"></div>

    <div th:replace="~{teacher/parts/aside :: aside}"></div>

    <div class="box content"><h2 class="mb-2">Домашні завдання</h2>

        <div class="card">
            <div class="d-flex ml-3 my-2 align-items-center">
                <select class="custom-select w-25 ">
                    <option selected>Виберіть клас</option>
                    <option th:each="group : ${groups}" th:value="${group.getId()}">
                        <b th:text="${group.groupCode}"></b>
                    </option>
                </select>
<!--                th:field="*{subject_selected_id}"-->
                <select class="custom-select w-25 ml-2" >
                    <option selected>Виберіть предмет</option>
                    <option th:each="subject : ${subjects}" th:value="${subject.getId()}">
                        <b th:text="${subject.name}"></b>
                    </option>
                </select>
                <button type="submit" class="btn btn-md btn-success ml-2 mt-2 mb-2">ОК
                </button>
            </div>

            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav">
                    <a th:href="@{/e-journal/teacher/hometask/add-hometask}" class="btn btn-success">Додати завдання</a>
                </div>
                <form class="form-inline">
                    <input placeholder="Шукати" type="text" class="mr-sm-2 form-control">
                    <button type="button" class="btn btn-outline-info">Пошук</button>
                </form>
            </nav>
            <div class="px-3 table-responsive">

                <table class="table table-light table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Завдання</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01.09.2019</td>
                        <td>№225-229, зробити конспект</td>
                    </tr>
                    <tr>
                        <td>02.09.2019</td>
                        <td>№235-239, читати підручник с.45-228</td>
                    </tr>
                    <tr>
                        <td>05.09.2019</td>
                        <td>№245-249, здати ЗНО на 250 з 200</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{teacher/parts/footer :: footer}"></div>

</body>
</html>