<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{teacher/parts/head :: head}"></head>
<body>
<div class="wrapper">
    <div th:replace="~{teacher/parts/header :: header}"></div>

    <div th:replace="~{teacher/parts/aside :: aside}"></div>

    <div class="box content"><h2 class="mb-2">Домашні завдання</h2>

        <div class="card">
            <div class="d-flex ml-3 my-2">
                <select class="custom-select w-25 ">
                    <option selected>Виберіть клас</option>
                    <option value="1">11-А</option>
                    <option value="2">10-Б</option>
                    <option value="3">...</option>
                    <option value="4">9-В</option>
                </select>
                <select class="custom-select w-25 ml-2">
                    <option selected>Виберіть предмет</option>
                    <option value="1">Алгебра</option>
                    <option value="2">Геометрія</option>
                    <option value="3">...</option>
                    <option value="4">Фізика</option>
                </select>

            </div>


            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="mr-auto navbar-nav">
                    <a href="/teacher/add_mark" class="btn btn-success">Додати завдання</a>
                </div>
                <form class="form-inline">
                    <input placeholder="Шукати" type="text" class="mr-sm-2 form-control">
                    <button type="button" class="btn btn-outline-info">Пошук</button>
                </form>
            </nav>
            <div class="px-3 table-responsive">

                <table class="table table-light table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Завдання</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01.09.2019</td>
                        <td>№225-229, зробити конспект</td>

                    </tr>
                    <tr>
                        <td>02.09.2019</td>
                        <td>№235-239, читати підручник с.45-228</td>

                    </tr>
                    <tr>
                        <td>05.09.2019</td>
                        <td>№245-249, здати ЗНО на 250 з 200</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{teacher/parts/footer :: footer}"></footer>

</body>
</html>