<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{teacher/parts/head :: head}"></head>
<body>
<div class="wrapper">
    <div th:replace="~{teacher/parts/header :: header}"></div>

    <div th:replace="~{teacher/parts/aside :: aside}"></div>

    <div class="box content">
        <div class="container" th:object="${teacherDto}">
            <div class="row">
                <div class="col-md-3"><img class="w-100 rounded border" th:src="@{${teacherDto.url}}"></div>
                <div class="col-md-9">
                    <div class="d-flex align-items-center">
                        <h2 class="font-weight-bold mr-1" th:text="${teacherDto.firstName}"></h2>
                        <h2 class="font-weight-bold mr-1" th:text="${teacherDto.secondName}"></h2>
                        <h2 class="font-weight-bold mr-1" th:text="${teacherDto.lastName}"></h2>
                    </div>
                    <p class="h5 text-success mt-2 d-block font-weight-light">Вчитель</p>
                    <section class="mt-5">

                    </section>
                    <div class="tab-content py-4" id="myTabContent">
                        <div class="tab-pane py-3 fade show active" id="home" role="tabpanel"
                             aria-labelledby="home-tab"><h6 class="text-uppercase font-weight-light text-dark">
                            Інформація</h6>
                            <dl class="row mt-4 mb-4 pb-3">
                                <dt class="col-sm-3">Предмет</dt>
                                <dd class="col-sm-9" th:text="${teacherDto.subject}"></dd>
                                <dt class="col-sm-3">Телефон</dt>
                                <dd class="col-sm-9" th:text="${teacherDto.phone}"></dd>
                                <dt class="col-sm-3">Домашня адреса</dt>
                                <dd class="col-sm-9">
                                    <address class="mb-0" th:text="${teacherDto.address}"></address>
                                </dd>
                                <dt class="col-sm-3">Електронна пошта</dt>
                                <dd class="col-sm-9"><a class="text-success" href="#" th:text="${teacherDto.email}"></a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{teacher/parts/footer :: footer}"></footer>
</div>

</body>
</html>