<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{teacher/parts/head :: head}"></head>
<body>
<div class="wrapper">
    <div th:replace="~{teacher/parts/header :: header}"></div>

    <div th:replace="~{teacher/parts/aside :: aside}"></div>

    <div class="box content">
        <h2 class="mb-2">Розклад уроків</h2>
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Понеділок</th>
                        <th scope="col">Вівторок</th>
                        <th scope="col">Середа</th>
                        <th scope="col">Четверг</th>
                        <th scope="col">П'ятниця</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="schedule : ${schedule_show}">
                    <tr>
<!--                        todo replace with index-->
                        <th scope="row" th:text="${schedule.getNumberOfSubject()}"></th>
                        <td th:if="${schedule.getDayOfWeek().ordinal() == 1}">
                            <strong th:text="${schedule.getSubject().name}"></strong><br>
                            <small th:text="${schedule.getTeacher().lastName}">, </small> <small th:text="${schedule.getCabinet()}"></small>
                        </td>
                        <td th:if="${schedule.getDayOfWeek().ordinal() == 2}">
                            <strong th:text="${schedule.getSubject().name}"></strong><br>
                            <small th:text="${schedule.getTeacher().lastName}">, </small> <small th:text="${schedule.getCabinet()}"></small>
                        </td>
                        <td th:if="${schedule.getDayOfWeek().ordinal() == 3}">
                            <strong th:text="${schedule.getSubject().name}"></strong><br>
                            <small th:text="${schedule.getTeacher().lastName}">, </small> <small th:text="${schedule.getCabinet()}"></small>
                        </td>
                        <td th:if="${schedule.getDayOfWeek().ordinal() == 4}">
                            <strong th:text="${schedule.getSubject().name}"></strong><br>
                            <small th:text="${schedule.getTeacher().lastName}">, </small> <small th:text="${schedule.getCabinet()}"></small>
                        </td>
                        <td th:if="${schedule.getDayOfWeek().ordinal() == 5}">
                            <strong th:text="${schedule.getSubject().name}"></strong><br>
                            <small th:text="${schedule.getTeacher().lastName}">, </small> <small th:text="${schedule.getCabinet()}"></small>
                        </td>
                    </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{teacher/parts/footer :: footer}"></footer>

</body>
</html>